<div ng-click='$ctrl.getNdbno(name.ndbno)'>
	<div ng-show='display=false'>
		{{name.name}}
	</div>
	<div ng-hide='display=true'>
  <h4>{{$ctrl.fresh.name}} </h4>
  <strong>Weight</strong>: 100g <br>
  <strong>Calories</strong>: {{$ctrl.fresh.nutrients[0].gm}}{{$ctrl.fresh.nutrients[0].unit}}<br>
  <strong>Sugars</strong>: {{$ctrl.fresh.nutrients[1].gm}}{{$ctrl.fresh.nutrients[1].unit}}<br>
  <strong>Protein</strong>: {{$ctrl.fresh.nutrients[2].gm}}{{$ctrl.fresh.nutrients[2].unit}}<br>
  <strong>Fat</strong>: {{$ctrl.fresh.nutrients[3].gm}}{{$ctrl.fresh.nutrients[3].unit}}<br>
  <strong>Carbohydrate</strong>: {{$ctrl.fresh.nutrients[4].gm}}{{$ctrl.fresh.nutrients[4].unit}}<br>
	</div>
</div>